@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h2 class="display-4">Welcome, go through the navigation menue to see and book events of your kind.</h2>
</div>
